<div class="card bg-light">
    <h5 class="card-header">{{titulo}}</h5>
    <div class="card-body">
      <form (ngSubmit) = "crearAsignatura()">
        <div class="row mb-3">
          <label for="nombre" class="col-sm-2 col-form-label">Denominación</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese la denominación de la asignatura" [(ngModel)]="asignatura.denoominacion" name="asignatura">
          </div>
        </div>
        <div class="row mb-3">
          <label for="apellido" class="col-sm-2 col-form-label">Sigla</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese sigla" [(ngModel)]="asignatura.sigla" name="sigla">
          </div>
        </div>
        <div class="row mb-3">
            <label for="apellido" class="col-sm-2 col-form-label">credito</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese el credito" [(ngModel)]="asignatura.credito" name="credito">
            </div>
          </div>
  
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-info" type="button">Cancelar</button>
            <button class="btn btn-outline-info "role="button">Registrar</button>
          </div>
  
      </form>
    </div>
  </div>
